In [63]:
# Importing the basic modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
from time import time
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.base import TransformerMixin, BaseEstimator
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import fbeta_score, accuracy_score
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
import seaborn as sns

%matplotlib inline

In [36]:
df = pd.read_csv('./train.csv')

In [37]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
df = df.drop("Cabin", axis=1)
df = df.drop("PassengerId", axis=1)
df = df.drop("Ticket", axis=1)
df = df.drop("Name", axis=1)

In [39]:
df = df[np.isfinite(df['Age'])]
df = df[np.isfinite(df['Pclass'])]
df = df[np.isfinite(df['SibSp'])]
df = df[np.isfinite(df['Parch'])]
df = df[np.isfinite(df['Fare'])]

In [40]:
df['Embarked'].value_counts(dropna=False)

S      554
C      130
Q       28
NaN      2
Name: Embarked, dtype: int64

In [41]:
df['Embarked'] = df['Embarked'].fillna(" ")

In [42]:
df = df[df['Embarked'] != ' ']

In [43]:
df['Sex'].value_counts(dropna=False)

male      453
female    259
Name: Sex, dtype: int64

In [44]:
encoder = LabelEncoder()
em = df['Embarked']
emen = encoder.fit_transform(em)

In [45]:
encoder = LabelEncoder()
sex = df['Sex']
sexen = encoder.fit_transform(sex)

In [46]:
df['Sex'] = sexen

In [47]:
df['Embarked'] = emen

In [48]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [52]:
y = df['Survived']
X = df.drop('Survived', axis=1)

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                   test_size = 0.2,
                                                   random_state = 0)

In [59]:
print("Training set has {} samples.", X_train.shape)
print("Testing set has {} samples.", y_train.shape)

Training set has {} samples. (569, 7)
Testing set has {} samples. (569,)

In [60]:
xgb_clf = XGBClassifier()
xgb_clf.fit(X_train, y_train)

xgb_clf_predictions_train = xgb_clf.predict(X_train)
xgb_clf_predictions_test = xgb_clf.predict(X_test)

print("F-beta score for  xgb_classifier on test {}", fbeta_score(xgb_clf_predictions_test, y_test, beta=0.5))
print("Accuracy score for xgb_classifier on test {}", accuracy_score(xgb_clf_predictions_test, y_test))
print("")
print("F-beta score for xgb_classifier on train {}", fbeta_score(xgb_clf_predictions_train, y_train, beta=0.5))
print("Accuracy score for xgb_classifier on train {}", format(accuracy_score(xgb_clf_predictions_train, y_train)))

F-beta score for  xgb_classifier on test {} 0.7575757575757577
Accuracy score for xgb_classifier on test {} 0.8321678321678322

F-beta score for xgb_classifier on train {} 0.8030852994555354
Accuracy score for xgb_classifier on train {} 0.8822495606326889

/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:171: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:171: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [119]:
d_clf = DecisionTreeClassifier()
d_clf.fit(X_train, y_train)

d_clf_predictions_train = d_clf.predict(X_train)
d_clf_predictions_test = d_clf.predict(X_test)

print("F-beta score for  xgb_classifier on test {}", fbeta_score(d_clf_predictions_test, y_test, beta=0.5))
print("Accuracy score for xgb_classifier on test {}", accuracy_score(d_clf_predictions_test, y_test))
print("")
print("F-beta score for xgb_classifier on train {}", fbeta_score(d_clf_predictions_train, y_train, beta=0.5))
print("Accuracy score for xgb_classifier on train {}", format(accuracy_score(d_clf_predictions_train, y_train)))

F-beta score for  xgb_classifier on test {} 0.7936507936507937
Accuracy score for xgb_classifier on test {} 0.7762237762237763

F-beta score for xgb_classifier on train {} 0.9858532272325377
Accuracy score for xgb_classifier on train {} 0.9929701230228472

In [127]:
test_df = pd.read_csv('./test.csv')

In [128]:
test_df = test_df.drop("Cabin", axis=1)
test_df = test_df.drop("PassengerId", axis=1)
test_df = test_df.drop("Ticket", axis=1)
test_df = test_df.drop("Name", axis=1)

In [129]:
test_df['Embarked'] = LabelEncoder().fit_transform(test_df['Embarked'])

In [130]:
test_df['Sex'] = LabelEncoder().fit_transform(test_df['Sex'])

In [131]:
test_df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [132]:
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].median())

In [133]:
predictions = d_clf.predict(test_df)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [105]:
submissions_df = pd.read_csv('./gender_submission.csv')

In [106]:
submissions_df = submissions_df.drop('PassengerId', axis=1)

In [107]:
accuracy_score(predictions, submissions_df['Survived'])

0.8803827751196173